<div id="account-settings-container" class="fade-me-in offset-2 col-8">

    <section id="profile-header">
        <h2>Account Settings</h2>
    </section>

    <form class="fade-me-in"
          hx-target="#account-settings-container"
          hx-put="/app/profile/account-settings"
          hx-swap="outerHTML settle:0.1s"
    >
        <fieldset class="k-form-fieldset">
            <h4>Personal Information</h4>

            <div class="name-wrapper">
                <div class="form-group">

                    <label for="firstName">First Name</label>
                    <input class="form-control"
                           type="text"
                           id="firstName"
                           name="first_name"
                           placeholder="First Name"
                           value="{{ model.first_name }}"
                    />
                    <small>A first name is required</small>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control"
                           type="text"
                           id="lastName"
                           name="last_name"
                           placeholder="Last Name"
                           value="{{ model.last_name }}"
                    />
                    <small>A last name is required</small>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control"
                       type="text"
                       id="email"
                       name="email"
                       placeholder="Email"
                       value="{{ model.email }}"
                />
                <small>Need to change your email? Please update
                    <a href="#">here</a>.
                </small>
            </div>
        </fieldset>

        <fieldset class="k-form-fieldset button-wrapper">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button class="btn" hx-get="/app/profile/account-settings">Cancel</button>
        </fieldset>
    </form>

    <hr/>
    <section class="mt-4 profile-image-wrapper">
        <div class="profile-image">
            <img class="img-file" src="{{ model.gravitar_url }}"/>
        </div>
        <div>
            <h4>Change your Profile Picture</h4>
            <p class="mb-0">
                In order to change your profile picture, you can use
                <a href="https://en.gravatar.com/">Gravatar</a>. This profile picture will be linked to
                your email.
            </p>
        </div>
    </section>
</div>
