<div class="bb-header">
    <section id="header" class="header">
        <section id="navigation" class="navigation-wrapper">
            <div>
                <div class="top-navbar-container">
                    <div id="top-nav" aria-label="Anaconda Cloud"
                         class="nav-primary navbar-expand-md k-appbar k-appbar-top k-appbar-static k-appbar-light"
                         dir="ltr">
                        <div class="logo-section k-appbar-section">
                            <a aria-label="Home"
                               class="logo-link" href="/">
                                <img alt="Anaconda Logo"
                                     src="/static/images/logos/Anaconda-Horizontal-Full-Color.webp"
                                     srcset="/static/images/logos/Anaconda-Horizontal-Full-Color.webp    1x,
                                             /static/images/logos/Anaconda-Horizontal-Full-Color-2x.webp 2x" height="32"
                                     class="logo">
                            </a>
                        </div>
                        <div class="menu-items-section desktop-only k-appbar-section">
                            <div>
                                <nav aria-label="main content menu" class="menu-items">
                                    <ul>
                                        <li>
                                            <i class="far fa-home fa-lg menu-icon mobile-only"></i>
                                            <a id="nucleus-home" href="/"
                                               qa-target="home-link" routerlinkactive="active" class="nav-link active">
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                            <i class="far fa-home fa-lg menu-icon mobile-only"></i>
                                            <a id="nucleus-workspace" qa-target="workspace-link"
                                               routerlinkactive="active" class="nav-link" href="/workspace/projects">Workspace
                                            </a>
                                        </li>
                                        <li><i class="far fa-square-caret-right fa-lg menu-icon mobile-only"></i>
                                            <a id="nucleus-getting-started"
                                               href="/getting-started" qa-target="getting-started-link"
                                               routerlinkactive="active" class="nav-link"> Get Started
                                            </a>
                                        </li>
                                        <li><i class="far fa-square-caret-right fa-lg menu-icon mobile-only"></i>
                                            <a id="account-settings"
                                               href="/app/profile/account-settings"
                                               qa-target="getting-started-link"
                                               routerlinkactive="active" class="nav-link">Account Settings
                                            </a>
                                        </li>
                                        <li container="body" placement="bottom">
                                            <i
                                                    class="far fa-graduation-cap fa-lg menu-icon mobile-only"></i><a
                                                id="nucleus-lms" qa-target="courses-link"
                                                class="nav-link" href="https://learning.anaconda.cloud"> Learning </a>
                                        </li>
                                        <li container="body" placement="bottom">
                                            <section><i
                                                    class="fa-kit fa-notebook-outline fa-lg menu-icon mobile-only"></i><a
                                                    id="nucleus-tools"
                                                    qa-target="notebooks-link" class="nav-link"> Notebooks <i

                                                    class="far fa-external-link external"></i></a></section>
                                        </li>
                                        <li><i
                                                class="far fa-people-roof fa-lg menu-icon mobile-only"></i><a
                                                id="nucleus-community"
                                                qa-target="community-link" target="_blank" class="nav-link"
                                                href="https://community.anaconda.cloud/login"> Community <i

                                                class="far fa-external-link external"></i></a></li>
                                        <li container="body" placement="bottom"><i

                                                class="far fa-box fa-lg menu-icon mobile-only"></i><a
                                                id="nucleus-packages"
                                                href="/package-categories" qa-target="packages-link"
                                                routerlinkactive="active" class="nav-link"> Packages </a></li>
                                        <li class="mobile-only"><i

                                                class="far fa-circle-question fa-lg menu-icon"></i><a
                                                id="m-nucleus-support"
                                                href="/support-center" routerlinkactive="active"
                                                qa-target="m-support-center-link" class="nav-link"> Support </a></li>
                                        <li class="mobile-only"><i
                                                class="far fa-bookmark fa-lg menu-icon"></i><a
                                                id="m-nucleus-bookmarks"
                                                href="/my-bookmarks" routerlinkactive="active"
                                                qa-target="m-bookmarks-link" class="nav-link"> Bookmarks </a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="spacer k-appbar-spacer"></div>
                        <div id="righthand-buttons" class="k-appbar-section">
                            <div class="actions pr-3">
                                <button kendobutton="" fillmode="clear"
                                        qa-target="nav-search-button"
                                        class="icon-button k-button k-icon-button k-button-md k-rounded-md k-button-clear-base k-button-clear"
                                        aria-disabled="false" dir="ltr"><!----><!----><span
                                        class="k-button-icon far fa-magnifying-glass"></span><!----><span
                                        class="k-button-text"></span><!----><!----></button>
                                <button kendobutton="" fillmode="clear"
                                        qa-target="nav-support-button" iconclass="far fa-circle-question"
                                        class="icon-button k-button k-icon-button k-button-md k-rounded-md k-button-clear-base k-button-clear"
                                        tabindex="0" aria-disabled="false" dir="ltr"><!----><!----><span
                                        class="k-button-icon far fa-circle-question"></span><!----><span
                                        class="k-button-text"></span><!----><!----></button>
                                <button kendobutton="" fillmode="clear"
                                        qa-target="nav-bookmark-button" iconclass="far fa-bookmark"
                                        class="icon-button k-button k-icon-button k-button-md k-rounded-md k-button-clear-base k-button-clear"
                                        tabindex="0" aria-disabled="false" dir="ltr"><!----><!----><span
                                        class="k-button-icon far fa-bookmark"></span><!----><span
                                        class="k-button-text"></span><!----><!----></button><!----></div><!---->
                            <div class="account-section">
                                <div>
                                    <section class="account-dropdown-section">
                                        <button id="avatar" kendobutton=""
                                                aria-disabled="false" dir="ltr"
                                                class="k-button k-button-md k-rounded-md k-button-solid-base k-button-solid">
                                            <span class="k-button-text">
                                                <bb-profile-image>
                                                    <div kendotooltip="" position="bottom"
                                                         class="profile-image medium user chrome-yellow border-none"
                                                         title="Matt Kramer" data-title="">
                                                        <img class="img-file"
                                                             src="https://www.gravatar.com/avatar/8152c220496183821a2c80c37aa43c7a?d=404"
                                                             alt="Matt Kramer">
                                                    </div>
                                                </bb-profile-image>
                                            </span>
                                        </button>
                                    </section>
                                </div>
                            </div>
                            <div class="overflow-menu-section">
                                <button kendobutton="" fillmode="flat" size="large"
                                        class="overflow-button icon-button k-button k-button-lg k-rounded-md k-button-flat-base k-button-flat"
                                        aria-disabled="false" dir="ltr">
                                    <span class="k-button-text">
                                        <i class="far fa-bars"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
