<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Anaconda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap-4-6-0.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body class="app-body">

{% include "partials/navbar.html" %}

{% block main %}{% endblock %}

<script src="/static/js/htmx.min.js"></script>
<script src="/static/js/jquery-3.5.1.slim.min.js"></script>
<script src="/static/js/popper-1.16.1.min.js"></script>
<script src="/static/js/bootstrap-4.6.1.min.js"></script>

</body>
</html>
