<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Stream</title>

    <link rel="stylesheet" href="/static/css/bootstrap-4-6-0.min.css" crossorigin="anonymous">
</head>
<body>

<h1 class="text-center">
    Packages on main channel, linux-64
</h1>

{{ render_partial("partials/package_table.html", packages=packages, page=page) }}


<script src="/static/js/htmx.min.js"></script>
<script src="/static/js/jquery-3.5.1.slim.min.js"></script>
<script src="/static/js/popper-1.16.1.min.js"></script>
<script src="/static/js/bootstrap-4.6.1.min.js"></script>

</body>
</html>
